*{
margin:0px;
padding:0px;
}
h3,li{
font-family: 'Lobster', cursive;
}
p{
font-family: 'Montserrat', sans-serif;
}

.container{
width:100%;
}
.wrapper{
width:900px;
margin:auto;
}

.dark{
background-color:#000000;
color:#FFFFFF;
}
.light{
background-color:#0099CC;
}

#top_left{
display:inline-block;
}
#top_right{
float:right;
}
#top_div{
height:40px;
line-height:40px;
}

#logo_left{
display:inline-block;
}
#logo_right{
float:right;
margin-top: 60px;
}
#searchbox_style{
height:20px; 
border-radius:0px;
}
#searchboxbutton_style{
background-color:#FFFFFF;
height:24px;
text-decoration:none;
text-color:blue;
}
#clear{
clear:both;
}
ul{
background-color:#333333;
}
ul li{
background-color:#000000;
width:222px;
display:inline-block;
height:35px;
line-height:35px;
text-align:center;
position:relative;
border-radius:8px;
}
ul li a{
color:#FFFFFF;
text-decoration:none;
display:block;
}
ul li a:hover{
background-color:orange;
color:black;
border-radius:8px;
}

#menu ul li ul{
position:absolute;
display:none;
}

#menu ul li:hover > ul
{
display:block;}

#menu ul ul ul{
margin-left:222px;
top:0px;
}

#slider_image img{
width:868px;
border:1px solid grey;
padding:15px;
background-color:#eee;
box-shadow: 5px 5px 10px grey;
margin-top:10px;
margin-bottom:10px;
}

h3{
text-align:center;
color:#CC0000;
text-transform:uppercase;
text-shadow:#CC3333;
}
p{

text-align:justify;
}
#wel_img{
width:180px;
margin:auto;
cursor:pointer;
}


#part1{
width:258px;
margin:4.5px;
display:inline-block;
margin-top:15px;
box-shadow:5px 5px 10px #FF3300;
padding:15px;
margin-bottom:15px;
}

#footer_section{
width:258px;
margin:4.5px;
display:inline-block;
margin-top:15px;
box-shadow:5px 5px 10px #FF3300;
padding:15px;
margin-bottom:15px;
}

#footer
{
	background-color:black;
	color:white;
	padding:20px;
	}

